.dialog {
  &__type-label {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.54);
  }

  &__type-radio {
    margin: 0 4px;
  }

  &__input {
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: row;
    padding: 10px 0;

    &--col {
      justify-content: space-between;
      padding: 0;
    }

    &--actions {
      justify-content: flex-end;
    }
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: row;
    padding: 0 0;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
  }
}
