.auth-dialog {
  &__dialog {
    background-color: white;
    padding: 16px 16px 0 16px;
  }
  &__form-password {
    width: 100%;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 6px;
  }
}
