<div class="auth-dialog mat-typography">
  <h1 mat-dialog-title>Login to Your Account</h1>
  <div mat-dialog-content>
    <form [formGroup]="userForm" class="auth-dialog__form" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field class="auth-dialog__form-password">
        <input type="email" class="auth-dialog__input" placeholder="Email" formControlName="email"
          required matInput>
        <div *ngIf="email.errors && (email.dirty || email.touched)">
          <mat-error *ngIf="email.errors.required">Email is required</mat-error>
          <mat-error *ngIf="password.errors.pattern">The email address must contain at least the @ character
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="auth-dialog__form-password">
        <input type="password" class="auth-dialog__input" placeholder="Password" formControlName="password"
          required matInput>
        <div *ngIf="password.errors && (password.dirty || password.touched)">
          <mat-error *ngIf="password.errors.required">Password is required</mat-error>
          <mat-error *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength
            - password.errors.minlength.actualLength}} characters
          </mat-error>
        </div>
      </mat-form-field>
      <mat-error>{{error}}
      </mat-error>
      <div class="dialog__actions">
        <div mat-dialog-actions>
          <button mat-button type="reset" color="primary" (click)="login()" [disabled]="!userForm.valid">Login
          </button>
          <button mat-button type="submit" color="primary" [disabled]="!userForm.valid" (click)="register()">
            Register
          </button>
        </div>
        <div mat-dialog-actions>
          <button mat-button color="primary" (click)="signInWithGoogle()">
            <img src="assets/google.png" class="auth-dialog__icon">
            Login with Google
          </button>
        </div>
      </div>
    </form>
  </div>
</div>