<div class="user-button">
  <button mat-button (click)="toggleDropdown()" class="user-button__btn" [class.user-button__open]="isOpen">
  <span class="user-button__info">
    <img class="user-button__avatar" [src]="currentUser.currentUser?.photoURL || 'assets/noavatar.png'">
    <span class="user-button__name">{{currentUser.currentUser?.displayName || currentUser.currentUser?.email}}</span>
    <mat-icon class="user-button__icon" [class.user-button__icon-open]="isOpen">keyboard_arrow_down</mat-icon>
  </span>
  </button>
  <div class="user-button__dropdown mat-elevation-z8" [class.user-button__dropdown-open]="isOpen">
    <div class="user-button__content">
      <div class="user-button__content-list">
        <div class="user-button__content-item" (click)="logout()" mat-ripple>
          <button mat-button class="user-button__content-title"><mat-icon class="user-button__content-icon">exit_to_app</mat-icon>Log out</button>
        </div>
      </div>
    </div>
  </div>
</div>