.toolbar-user-container {
  height: 100%;
  position: relative;
  &__info {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
  }
  &__btn {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 160px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
  }

  &__name {
    margin: 0 8px 0 10px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    transform: rotate(0);
    transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &__open {
    background: rgba(0, 0, 0, 0.05);
  }
  &__icon-open {
    transform: rotate(-180deg);
  }
  &__dropdown {
    background: white;
    position: absolute;
    top: 64px;
    right: 0;
    width: 100%;
    min-width: 160px;
    z-index: 1;
    transform: translateY(-135%);
    visibility: hidden;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      visibility 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  &__content-item {
    height: 48px;
    padding: 0 16px;
    position: relative;
    color: #000;
    flex-direction: row;
    display: flex;
    place-content: center flex-start;
    align-items: center;
  }
  &__content-icon {
    padding-right: 12px;
  }
  &__dropdown-open {
    transform: translateY(0);
    visibility: visible;
  }
}
