<div class="auth-conainer" fxLayout="column" fxLayoutAlign="center center">
  <div class="auth-conainer__main mat-elevation-z12">
    <mat-card>
      <mat-card-title>User login</mat-card-title>
      <mat-card-content class="auth-conainer__card-content">
        <form class="auth-conainer__form" fxLayout="column" fxLayoutAlign="start stretch"
          [formGroup]="userForm" (ngSubmit)="login()">
          <mat-form-field class="auth-conainer__form-password">
            <input type="email" class="auth-conainer__input" placeholder="Please enter your email"
              formControlName="email" required matInput>
          </mat-form-field>
          <div *ngIf="formErrors.email" class="is-danger">
            {{ formErrors.email }}
          </div>
          <mat-form-field class="auth-conainer__form-password">
            <input type="password" class="input" placeholder="please enter your password" formControlName="password"
              required matInput>
          </mat-form-field>
          <div *ngIf="formErrors.password" class="is-danger">
            {{ formErrors.password }}
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">log in</button>
        </form>

        <div class="auth-conaine__button-goole">
          <button mat-raised-button (click)="signInWithGoogle()">Google account login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>