<div class="accounts">
  <mat-nav-list class="accounts__add-account">
    <mat-list-item (click)="handleAddAccountClick()">
      <mat-icon matListIcon>add</mat-icon>
      Add new account
    </mat-list-item>
  </mat-nav-list>
  <mat-list class="accounts__list">
    <mat-list-item *ngFor="let name of accounts" class="accounts__item">
      <mat-icon matListIcon>account_balance</mat-icon>{{name}}
      <app-button-more class="accounts__button-more" (editClick)="editAccount()" (deleteClick)="deleteAccount()"></app-button-more>
    </mat-list-item>
  </mat-list>
</div>