<div class="table-transactions-container mat-elevation-z2">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell class="table-transactions-container__cell" *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="account">
      <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table-transactions-container__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>