.table-transactions-component {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;

  &__row:hover {
    background-color: #f5f5f5;
  }

  &__table {
    overflow: auto;
  }
}
