<div class="transactions">
  <div class="transactions__content" *ngIf="data && data.transactions.length">
    <app-transactions-charts class="transactions__charts"></app-transactions-charts>
    <app-table-transactions [tableData]="data" (editClick)="handleEditTransactionClick($event)"
      (deleteClick)="deleteTransaction($event)">
    </app-table-transactions>
  </div>
  <button mat-fab (click)="handleAddTransactionClick()" class="transactions__add-dialog-activation">
    <mat-icon aria-label="add">add</mat-icon>
  </button>
  <h2 *ngIf="data && !data.transactions.length" class="transactions__empty-state mat-display-2">You don't have any transactions</h2>
  <div *ngIf="!data" class="transactions__empty-state transactions__loader"></div>
</div>