.transactions {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__add-dialog-activation {
    position: fixed;
    right: 12px;
    bottom: 12px;
  }

  &__charts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__chart {
    width: calc(50% - 30px);
    padding: 10px;
    background-color: #ffffff;
  }

  &__empty-state {
    margin: auto;
    color: rgba(0, 0, 0, 0.26);
  }
}
