<div class="tags">
  <mat-nav-list class="tags__add-tag drawer-menu">
    <mat-list-item (click)="handleAddTagsClick()">
      <mat-icon matListIcon>add</mat-icon>
      Add new tag
    </mat-list-item>
  </mat-nav-list>
  <mat-list class="tags__menu drawer-menu">
    <mat-list-item *ngFor="let name of tags" class="drawer-menu__item">
      <mat-icon matListIcon>local_offer</mat-icon>
      {{name}}
      <app-button-more class="tags__button-more drawer-menu__button-more"></app-button-more>
    </mat-list-item>

  </mat-list>
</div>