.add-tags {
  padding: 0;
}
.tags-menu {
  padding: 0;
}

.tags-menu-item:hover {
  background-color: #f5f5f5;
}

.tags-menu-item {
}
.tags-button-more {
  position: absolute;
  right: 10px;
  top: 2px;
}
