<div class="auth">
  <div class="auth__dialog mat-typography">
    <h1 mat-dialog-title>User login</h1>

    <div mat-dialog-content>
      <form [formGroup]="userForm" class="auth__form" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field class="auth__form-password">
          <input type="email" class="auth__input" placeholder="Please enter your email" formControlName="email"
            required matInput>
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <mat-error *ngIf="email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="password.errors.pattern">The email address must contain at least the @ character
            </mat-error>
          </div>
        </mat-form-field>
        <mat-form-field class="auth__form-password">
          <input type="password" class="auth__input" placeholder="please enter your password"
            formControlName="password" required matInput>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <mat-error *ngIf="password.errors.required">Password is required</mat-error>
            <mat-error *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength
              - password.errors.minlength.actualLength}} characters
            </mat-error>
          </div>
        </mat-form-field>
        <mat-error>{{error}}
        </mat-error>
        <button mat-raised-button color="primary" (click)="login()" [disabled]="!userForm.valid">log in</button>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="register()">Register</button>
        <button mat-raised-button (click)="signInWithGoogle()">Google account login</button>
      </form>
    </div>
  </div>
</div>