<!-- <div class="auth dialog"> -->
<!-- <div class="auth__dialog mat-typography">
    <h1 mat-dialog-title>Login to Your Account</h1>
    <div mat-dialog-content>
      content -->
<!-- <form [formGroup]="userForm" class="auth__form" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field class="auth__form-password">
          <input type="email" class="auth__input" placeholder="Email" formControlName="email"
            required matInput>
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <mat-error *ngIf="email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="password.errors.pattern">The email address must contain at least the @ character
            </mat-error>
          </div>
        </mat-form-field>
        <mat-form-field class="auth__form-password">
          <input type="password" class="auth__input" placeholder="Password" formControlName="password"
            required matInput>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <mat-error *ngIf="password.errors.required">Password is required</mat-error>
            <mat-error *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength
              - password.errors.minlength.actualLength}} characters
            </mat-error>
          </div>
        </mat-form-field>
        <mat-error>{{error}}
        </mat-error>
        <div class="dialog__actions">
          <div mat-dialog-actions>
            <button mat-button type="reset" color="primary" (click)="login()" [disabled]="!userForm.valid">Login
            </button>
            <button mat-button type="submit" color="primary" [disabled]="!userForm.valid" (click)="register()">
              Register
            </button>
          </div>
          <div mat-dialog-actions>
            <button mat-button color="primary" (click)="signInWithGoogle()">
              <img src="assets/google.png" class="auth__icon">
              Login with Google
            </button>
          </div>
        </div>
      </form><div class="dialog mat-typography">
        <h1 mat-dialog-title>{{ data.action }} transaction</h1>
        <form [formGroup]="form" (ngSubmit)="submit(form)">
          <div mat-dialog-content>
            <div class="dialog__row">
              <label class="dialog__type-label">Type of transaction: </label>
              <mat-radio-group formControlName="type">
                <mat-radio-button class="dialog__type-radio" value="-">Expense</mat-radio-button>
                <mat-radio-button class="dialog__type-radio" value="+">Income</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="dialog__row">
              <mat-form-field class="dialog__input">
                <input matInput placeholder="Description" formControlName="desc" required>
                <mat-error *ngIf="form.controls.desc.invalid">Please enter description</mat-error>
              </mat-form-field>
            </div>
            <div class="dialog__row dialog__row--col">
              <div class="dialog__col">
                <div class="dialog__row">
                  <mat-form-field class="dialog__input">
                    <input matInput placeholder="Amount" formControlName="amount" pattern="^[0-9]+$"
                      required>
                    <mat-error *ngIf="form.controls.amount.invalid">Please enter amount (number)</mat-error>
                  </mat-form-field>
                </div>
                <div class="dialog__row">
                  <mat-form-field class="dialog__input">
                    <mat-select placeholder="Tag" formControlName="tagId" required>
                      <mat-option *ngFor="let tag of data.tags" [value]="tag">{{tag}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.tagId.invalid">Please choose a tag</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="dialog__col">
                <div class="dialog__row">
                  <mat-form-field class="dialog__input">
                    <input matInput [matDatepicker]="date" placeholder="Date of transaction" formControlName="date"
                      required>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                    <mat-error *ngIf="form.controls.date.invalid">Please choose date</mat-error>
                  </mat-form-field>
                </div>
                <div class="dialog__row">
                  <mat-form-field class="dialog__input">
                    <mat-select placeholder="Account" formControlName="accountId" required>
                      <mat-option *ngFor="let account of data.accounts" [value]="account.id">{{account.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.accountId.invalid">Please choose an account</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div mat-dialog-actions class="dialog__row dialog__row--actions">
            <button mat-button type="reset" color="primary" mat-dialog-close>CANCEL</button>
            <button mat-button type="submit" color="primary" [disabled]="!form.valid">OK</button>
          </div>
        </form> -->
<!-- </div> -->
<!-- </div>
  </div> -->
<!-- </div> -->